body {
    font-family: Helvetica;
}

.Content1 {
    background-color: #F1F3FF;
    overflow: hidden;
}

.Content1 .Col1 {
    margin-bottom: 8em;
}

.Content2 .col2 {
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.Content2 .list li {
    position: relative;
    left: -35px;
    list-style: none;
    background: url(../../../assets/list.png) no-repeat left center;
    vertical-align: middle;
    margin-bottom: 8px;
    padding-right: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.Content2 .list  span {
    padding-left: 30px;
}

.Content4 .title {
    text-align: center;
}


.Content5 {
    text-align: center;
}

.Content5 .border{
    border-radius: 20px;
    border: 2px solid #0D28A6;
}
.Content5 p {
    color: rgba(255, 255, 255, 0.774);
}

.Content6 {
    margin-top: 5em;
}

.Content6 .list {
    margin-top: 5px;
}

/* Content4 */
#testimonial {
	padding: 136px 0 0 0;
}
.owl-carousel {
	overflow: hidden;
}
.owl-carousel .owl-item img {
	width: auto;
}  
.owl-nav {
	margin: 24px 0 0;
	text-align: center;
}  
.owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
	margin: 0 20px;
	height: 32px;
	width: 32px;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 50px;
} 
.owl-carousel .owl-nav button.owl-next:hover,
  .owl-carousel .owl-nav button.owl-prev:hover {
	background: #5CB85F;
	border: none;
}  
.bg-testimonial {
    overflow: hidden;
    position: relative;
    background-color: #F1F3FF;
    width: 100%;
    height: 270px;
    border-radius: 8px;
}  
.img-testimonial{
    margin: 30px;
    width: 80px !important;
    height: 80px !important;
}
.title {
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
} 
.testi-text {
    margin-top: 10px;
    font-size: 14px;
}  
.testi-user {
    font-weight: 700;
    font-size: 14px;
}